{% extends 'base.html' %}
{% load static %}

{% block title %}Manage Posts{% endblock title %}

{% block content %}
<div class="container text-center p-5">
    <h1>Profile of <strong>{{ user.username }}</strong></h1>
    <h2>Manage Your Posts</h2>
    <ul class="list-unstyled">
        {% for post in posts %}
        
        <li>Title: {{ post.title }} - {{ post.is_published|yesno:"Published,Not Published" }}</li>
        <form method="post" action="{% url 'publish_post' post.id %}">
            {% csrf_token %}
            <button type="submit">Publish</button>
        </form>
        {% endfor %}
    </ul>
</div>
{% endblock content %}