/* create_post.css */

.form-step:first-child {
    display: block;
}

button {
    margin-top: 10px;
}

#id_content {
    width: 100%;
    height: 200px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: white;
}

.card-body {
    padding: 20px;
}

.btn-block {
    width: 100%;
}