/* create_post.css */
.form-step {
    margin-bottom: 20px;
}

.form-step:first-child {
    display: block;
}

#id_content {
    width: 100%;
    height: 200px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.card-header {
    background-color: #007bff;
    color: white;
}

.card-body {
    padding: 20px;
}

.btn-block {
    width: 100%;
}

#image-preview img {
    max-width: 100px;
    margin: 5px;
}