@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.headline-container {
    position: relative;
    background-image: url("../images/living-room.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    text-align: center;
    border: 5px solid white; 
}

.headline-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.headline-container h1 {
    position: relative;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    z-index: 2;
    padding: 0 0.8rem;
}

/* Questionnaire Container */
.question-container {
    display: none; 
    width: 100%; 
    max-width: 600px; 
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-container.active {
    display: block; 
}

/* Image Container */
.image-container {
    position: relative;
    background-image: url("../images/living-room.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    text-align: center;
    border: 5px solid white; 
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.image-container h2 {
    position: relative;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    z-index: 2;
    padding: 0 0.8rem;
}