{% extends 'base.html' %}
{% load static %}

{% block title %}Modina | Create a Post{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/create_post.css' %}">
{% endblock stylesheet %}

{% block content %}
<main class="container mt-5">
    <section class="row justify-content-center">
        <article class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h1>Create a Post</h1>
                </div>
                <div class="card-body">
                    {% if user.is_authenticated %}
                    {% if form.errors %}
                    <!-- Display form errors -->
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <!-- Form for creating a post -->
                    <form method="post" id="createPostForm" enctype="multipart/form-data"
                        data-register-url="{% url 'register' %}" data-is-authenticated="{{ user.is_authenticated }}">
                        {% csrf_token %}
                        <!-- Step 1: Title -->
                        <div class="form-step" style="display: block;">
                            <div class="mb-3">
                                <label for="title" class="form-label">What is it that you want to sell?</label>
                                {{ form.title }}
                            </div>
                            <button type="button" class="btn btn-primary next-step">Next</button>
                        </div>
                        <!-- Step 2: Category -->
                        <div class="form-step" style="display: none;">
                            <div class="mb-3">
                                <label for="category" class="form-label">Category</label>
                                {{ form.category }}
                            </div>
                            <button type="button" class="btn btn-primary next-step">Next</button>
                            <button type="button" class="btn btn-secondary previous-step">Previous</button>
                        </div>
                        <!-- Step 3: Condition -->
                        <div class="form-step" style="display: none;">
                            <div class="mb-3">
                                <label for="condition" class="form-label">What is the condition of the item? (1-10)</label>
                                <br><small class="form-text text-muted">Slide the ball to indicate the condition.</small>
                                {{ form.condition }}
                            </div>
                            <button type="button" class="btn btn-primary next-step">Next</button>
                            <button type="button" class="btn btn-secondary previous-step">Previous</button>
                        </div>
                        <!-- Step 4: Content -->
                        <div class="form-step" style="display: none;">
                            <div class="mb-3">
                                <label for="content" class="form-label">What are the design features that make the item unique or appealing?</label>
                                {{ form.content }}
                            </div>
                            <button type="button" class="btn btn-primary next-step">Next</button>
                            <button type="button" class="btn btn-secondary previous-step">Previous</button>
                        </div>
                        <!-- Step 5: Price -->
                        <div class="form-step" style="display: none;">
                            <div class="mb-3">
                                <label for="price" class="form-label">Price ($)</label>
                                {{ form.price }}
                            </div>
                            <button type="button" class="btn btn-primary next-step">Next</button>
                            <button type="button" class="btn btn-secondary previous-step">Previous</button>
                        </div>
                        <!-- Step 6: Sale Handling -->
                        <div class="form-step" style="display: none;">
                            <div class="mb-3">
                                <label for="sale_handling" class="form-label">Sale Handling</label>
                                {{ form.sale_handling }}
                            </div>
                            <button type="button" class="btn btn-primary next-step">Next</button>
                            <button type="button" class="btn btn-secondary previous-step">Previous</button>
                        </div>
                        <!-- Step 7: Location -->
                        <div class="form-step" style="display: none;">
                            <div class="mb-3">
                                <label for="location" class="form-label">Location</label>
                                {{ form.location }}
                            </div>
                            <button type="button" class="btn btn-primary next-step">Next</button>
                            <button type="button" class="btn btn-secondary previous-step">Previous</button>
                        </div>
                        <!-- Step 8: Image -->
                        <div class="form-step" style="display: none;">
                            <div class="mb-3">
                                <label for="id_image" class="form-label">Image</label>
                                {{ form.image }}
                            </div>
                            <div id="image-preview"></div>
                            <div class="alert alert-danger" id="form-errors"></div>
                            <button type="button" class="btn btn-primary next-step">Next</button>
                            <button type="button" class="btn btn-secondary previous-step">Previous</button>
                        </div>
                        <!-- Step 9: Review -->
                        <div class="form-step" style="display: none;">
                            <h3>Review Your Post</h3>
                            <div id="form-errors" class="alert alert-danger" style="display: none;"></div>
                            <p><strong>Title:</strong> <span id="review-title"></span></p>
                            <p><strong>Category:</strong> <span id="review-category"></span></p>
                            <p><strong>Condition:</strong> <span id="review-condition"></span></p>
                            <p><strong>Price:</strong> $<span id="review-price"></span></p>
                            <p><strong>Sale Handling:</strong> <span id="review-sale_handling"></span></p>
                            <p><strong>Location:</strong> <span id="review-location"></span></p>
                            <p><strong>Content:</strong> <span id="review-content"></span></p>
                            <p><strong>Image:</strong> <span id="review-image"></span></p>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-secondary previous-step">Previous</button>
                            <a href="{% url 'create_post' %}" class="btn btn-warning">Redo</a>
                        </div>
                    </form>
                    {% else %}
                    <!-- Message for unauthenticated users -->
                    <p class="text-center">You need to <a href="{% url 'register' %}">register</a> or <a href="{% url 'login' %}">login</a> to create a post.</p>
                    <img src="{% static 'images/support.svg' %}" alt="support" class="img-fluid mx-auto d-block">
                    {% endif %}
                </div>
            </div>
        </article>
    </section>
</main>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/create_post.js' %}"></script>
{% endblock scripts %}