{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="card-body">
            {% if post.image %}
            <div class="card mb-3 border-0">
                <div class="row no-gutters justify-content-center">
                    <div class="col-md-4">
                        <img src="{{ post.image.url }}" class="card-img border-0" alt="{{ post.title }}-image">
                    </div>
                </div>
            </div>
            {% else %}
            <p>No image available</p>
            {% endif %}
            <p><strong>Category:</strong> {{ post.category }}</p>
            <p><strong>Condition:</strong> {{ post.condition }}/10</p>
            <p><strong>Price:</strong> ${{ post.price }}</p>
            <p><strong>Sale Handling:</strong> {{ post.sale_handling }}</p>
            <p><strong>Location:</strong> {{ post.location }}</p>
            <p><strong>Content:</strong> {{ post.content }}</p>
            <p><strong>Author:</strong> {{ post.author }}</p>
            <p><strong>Created at:</strong> {{ post.created_at }}</p>
            <p><strong>Last updated:</strong> {{ post.updated_at }}</p>
            {% if user == post.author %}
            <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit Post</a>
            <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete Post</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}