{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/about.css' %}">{% endblock stylesheet %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>About Us</h2>
                </div>
                <div class="card-body">
                    <p>Welcome to our website. Here is some information about us.</p>
                    <p>We are dedicated to providing the best service possible. Our team is committed to helping you find the perfect second-hand furniture for your needs.</p>
                    <p>Feel free to browse our blog posts and create your own posts to share your furniture with others.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}