{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Modina Second-Hand{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    {% block stylesheet %}
    {% endblock stylesheet %}
</head>


<body>
    <!-- Header and Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="d-flex align-items-center w-100">

                    <!-- Left (phone) Logo -->
                    <a class="navbar-brand"
                        href="{% if user.is_authenticated %}{% url 'profile' request.user.id %}{% else %}{% url 'login' %}{% endif %}"
                        title="Login to account">
                        <img src="{% if user.is_authenticated %}{% if request.user.gender == 'F' %}{% static 'images/avatar/female_avatar.svg' %}{% else %}{% static 'images/avatar/male_avatar.svg' %}{% endif %}{% else %}{% static 'images/logo/logo.png' %}{% endif %}"
                            alt="logo" class="logo-img">
                    </a>

                    <!-- Center Modina Image -->
                    <div class="d-flex justify-content-center flex-grow-1">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'images/logo/modina.png' %}" alt="modina" class="modina-img">
                        </a>
                    </div>

                    <!-- Navbar -->
                    <div class="d-flex align-items-center">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Nav Items -->
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'posts' %}">View Posts</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'create_post' %}">Create Post</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'profile' request.user.id %}">Your Profile</a>
                                </li>
                                <li class="nav-item">
                                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                                    </form>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'core_contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {% if messages %}
    <div class="container mt-3 django-message">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Content Block -->
    {% block content %}
    {% endblock content %}

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>

<footer class="container-fluid mt-5 text-center">
    <p>&copy; 2024 All Rights Reserved. <a href="https://github.com/d0bledore">GitHub Page</a></p>
</footer>

</html>